@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?y2l190");
    src: url("../fonts/icomoon.eot?y2l190#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?y2l190") format("truetype"),
        url("../fonts/icomoon.woff?y2l190") format("woff"),
        url("../fonts/icomoon.svg?y2l190#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
    content: "\e900";
}
.icon-connect:before {
    content: "\e901";
}
.icon-edit:before {
    content: "\e902";
}
.icon-padlock:before {
    content: "\e903";
}
.icon-plus:before {
    content: "\e904";
}
.icon-puzzle:before {
    content: "\e905";
}
.icon-support:before {
    content: "\e906";
}
.icon-trash:before {
    content: "\e907";
}
.icon-upload:before {
    content: "\e908";
}
