@import "../nucleo.scss";
.icon-trash-2::before {
    content: "\eaf0";
}
.icon-log-out::before {
    content: "\ea91";
}
.icon-edit::before {
    content: "\ea5d";
}
.icon-bell::before {
    content: "\ea1f";
}
.icon-chevron-down::before {
    content: "\ea2e";
    color: #333;
}

.icon-chevron-left::before {
    content: "\ea2f";
}

.icon-chevron-right::before {
    content: "\ea30";
    color: #333;
}

.icon-chevron-up::before {
    content: "\ea31";
}
.icon-award::before {
    content: "\ea32";
}
.icon-clock::before {
    content: "\ea43";
}
.icon-download::before {
    content: "\ea59";
}
.icon-github::before {
    content: "\ea76";
}
.icon-heart::before {
    content: "\ea7d";
}
.icon-home::before {
    content: "\ea80";
}
.icon-image::before {
    content: "\ea81";
}
.icon-key::before {
    content: "\ea86";
}
.icon-list::before {
    content: "\ea8d";
}
.icon-log-in::before {
    content: "\ea90";
}
.icon-mail::before {
    content: "\ea92";
}
.icon-map-pin::before {
    content: "\ea93";
}
.icon-menu::before {
    content: "\ea98";
}
.icon-moon::before {
    content: "\eaa3";
}
.icon-phone-call::before {
    content: "\eab2";
}
.icon-settings::before {
    content: "\eacf";
}
.icon-share-2::before {
    content: "\ead0";
}
.icon-star::before {
    content: "\eae1";
}
.icon-search::before {
    content: "\eacc";
}
.icon-tool::before {
    content: "\eaef";
}
.icon-upload::before {
    content: "\eb09";
}
.icon-user::before {
    content: "\eb04";
}

.icon-users::before {
    content: "\eb05";
}
.icon-paperclip::before {
    content: "\eaad";
}
.icon-instagram::before {
    content: "\ea8f";
}
.icon-user-check::before {
    content: "\eb12";
}
